<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        <ul>
            <li>@Html.ActionLink("Search", "Index", "Search")</li>
        </ul>
        @RenderBody()
    </div>
</body>
</html>
